
<!DOCTYPE html>
{% load cms_tags menu_tags sekizai_tags %}
<html lang="en">
<head>
  <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
<title>{% page_attribute "page_title" %}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/static/cmstemplate/point/css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/static/cmstemplate/point/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/static/cmstemplate/point/css/layout.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/static/bootstrap-positions.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/static/bootstrap-forms.css" type="text/css" media="screen">

<script type="text/javascript" src="/static/static/cmstemplate/point/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/static/static/cmstemplate/point/js/tms-0.3.js"></script>
<script type="text/javascript" src="/static/static/cmstemplate/point/js/tms_presets.js"></script> 
<script type="text/javascript" src="/static/static/cmstemplate/point/js/jquery.easing.1.3.js"></script> 
<script src="/static/static/cmstemplate/point/js/FF-cash.js" type="text/javascript"></script>
<!--[if lt IE 7]>
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="/static/static/cmstemplate/point/http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="/static/static/cmstemplate/point/http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
  <script type="text/javascript" src="/static/static/cmstemplate/point/js/html5.js"></script>
  <link rel="stylesheet" href="/static/static/cmstemplate/point/css/ie.css" type="text/css" media="screen">
<![endif]-->
{% render_block "css" %}
{%block html_head%}{%endblock html_head%}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36606689-12', 'aktivniobec.cz');
  ga('send', 'pageview');

</script>
<script type="text/javascript">


</script>
<style>
.field label {
    margin-bottom: 10px;
}
</style>

</head>
<body id="page1">
  {% cms_toolbar %}
<!-- header -->
  <div class="bg" style="background: #F06441;">
    <div class="main">
      <header>
        <div class="row-1">
          <div class="row">
            <div class="span8" style="margin-left:0;margin-top:20px">
              <h1 style="color: white; font-size: 30px; margin-bottom: 10px;">Aktivní obec</h1>
              <p style="color:white;">
              <br></p>
            </div>
          </div>
        </div>
        <div class="row-2" style="margin-bottom:-1px;">
          <nav>
            <ul class="menu">
              {% show_menu 0 0 0 1 %}
            </ul>
          </nav>
        </div>
        <div class="row-3">
            <div class="padding" style="margin-bottom:5px;background-color:white;color:black;padding:15px;">
              <div class="row-fluid">
                {%block header %}{%endblock header%}
              </div>
            </div>
        </div>
      </header>
<!-- content -->
      <section id="content">
        {% block adbar %}
        <div class="box-bg margin-bot">
            <div class="wrapper">
              <div class="col-1">
                <div class="box first">
                  <div class="pad">
                    <div class="wrapper indent-bot">
                      <a href="http://srpo.cz" style="text-decoration:none;">
                      <div class="extra-wrap">
                        <h3 class="color-1"><strong>Chceme strategický</strong><br>rozvojový plán</h3>
                      </div>
                    </div>
                    <div class="wrapper">
                      <span class="button img-indent-r">>></span></a>
                      <div class="extra-wrap">
                        vypracovat, rozšířit, aktualizovat
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <div class="box second">
                  <div class="pad">
                    <div class="wrapper indent-bot">
                      <div class="extra-wrap">
                      <a href="/chceme-vyrocni-publikaci/" style="text-decoration:none;">
                        <h3 class="color-2"><strong>Chceme výroční</strong><br>publikaci obce</h3>
                      </div>
                    </div>
                    <div class="wrapper">
                      <span class="button img-indent-r"></span></a>
                      <div class="extra-wrap">
                        od skládačky po knihu, sestavit a vytisknout

                      </div>
                    </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="box third">
                  <div class="pad">
                    <div class="wrapper indent-bot">
                      <a href="http://obecbezbarier.cz" style="text-decoration:none;">
                      <div class="extra-wrap">
                        <h3 class="color-3"><strong>Chceme obec</strong><br>bez bariér</h3>
                      </div>
                    </div>
                    <div class="wrapper">
                      <span class="button img-indent-r">>></span></a>
                      <div class="extra-wrap">
Odstraňování
architektonických
<br>bariér v obci

                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endblock adbar %}

        <div class="padding">
            <div class="wrapper" style="color:black;">
              <div class="row-fluid">
                {%block base_content%}
                  {%block content%}{%endblock content%}
                {%endblock base_content%}
              </div>
            </div>
        </div>
      </section>
<!-- footer -->
      <footer>
       
              {% block base_footer %}
               <div class="row-top"><div class="row-padding"><div class="wrapper">
<div class="row-fluid">
  <div class="span3">
    <ul class="footmenu">
    {% show_menu 0 0 0 1 %}
    </ul>
    <br><a href="mailto:sika.petr@gmail.com">sika.petr@gmail.com</a>
<br><font style="font-weight:bold;">722 722 777</font>
    <br><a href="http://petrsika.com/">www.petrsika.com</a>

  </div>
<style type="text/css">
  .fo {width: 210px; height: 210px;}
  .fo1 { background-image: url(/static/static/footer/mbb.jpg); }
  .fo1:hover { background-image: url(/static/static/footer/mbb-h.jpg); }
  .fo2 { background-image: url(/static/static/footer/obb.jpg); }
  .fo2:hover { background-image: url(/static/static/footer/obb-h.jpg); }
  .fo3 { background-image: url(/static/static/footer/sbb.jpg); }
  .fo3:hover { background-image: url(/static/static/footer/sbb-h.jpg); }
  
  </style>
  <div class="span3">
   <a href="http://mestobezbarier.cz"><div class="fo fo1"></div></a>
  </div>
  <div class="span3">
    <a href="http://obecbezbarier.cz"><div class="fo fo2"></div></a>
  </div>
  <div class="span3">
    <a href="http://seniorbezbarier.cz"><div class="fo fo3"></div></a>
  </div>  
</div>


            </div></div></div>

              {%endblock%}
            
        <div class="row-bot">
          <div class="aligncenter">
            <!-- <p class="p0"><a rel="nofollow" href="/static/static/cmstemplate/point/http://www.templatemonster.com/" target="_blank">Website Template</a> by TemplateMonster.com | <a rel="nofollow" href="/static/static/cmstemplate/point/http://www.html5xcss3.com/" target="_blank">html5xcss3.com<a/></p>
            <a href="/static/static/cmstemplate/point/http://www.templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com<br> -->
{#            <p>2013 &copy; <a href="/">Senioři bez bariér</a> | <a href="http://petrsika.com">Petr Sika</a></p>#}
            <!-- {%FOOTER_LINK} -->
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript">
    $(function(){
      $('.slider')._TMS({
        prevBu:'.prev',
        nextBu:'.next',
        playBu:'.play',
        duration:800,
        easing:'easeOutQuad',
        preset:'simpleFade',
        pagination:false,
        slideshow:3000,
        numStatus:false,
        pauseOnHover:true,
        banners:true,
        waitBannerAnimation:false,
        bannerShow:function(banner){
          banner
            .hide()
            .fadeIn(500)
        },
        bannerHide:function(banner){
          banner
            .show()
            .fadeOut(500)
        }
      });
    })
  </script>
  {% render_block "js" %}
</body>
</html>
