{% extends "cmstemplate/point/base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block header %}
  <div class="span8">
                  {% placeholder header1 %}
                </div>
                <div class="span4">
                  {% placeholder header2 %}
                </div>
{% endblock header %}

 
{% block base_content %}
  <div class="span8">
    {% placeholder content %}
  </div>
  <div class="span4">
    {% placeholder sidebar %}
  </div>
{% endblock base_content %}