{% load i18n %}
{% if link %}<a href="{{ link }}">{% endif %}
<h2>{{ object.title }}</h2>
{% if link %}</a>{% endif %}
<table>
    <tr>
        <td>
            {% if object.image %}
	{% if link %}<a href="{{ link }}">{% endif %}
		<img src="{{ object.image.url }}" alt="{{ object.title }}" style="margin-right: 10px"/>
	{% if link %}</a>{% endif %}
{% endif %}
        </td>
        <td>
         {% if object.description %}
<p>{{ object.description }}</p>
{% endif %}
{% if link %}<a href="{{ link }}">{% trans "more" %} &#187;</a>{% endif %}
        </td>
    </tr>
</table>

